webrobot/flow.json
[
    {
        "id": "d82a7116b4851b52",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fbfac11a65c4d030",
        "type": "websocket-listener",
        "path": "/ws/code",
        "wholemsg": "false"
    },
    {
        "id": "12179756106e6e7a",
        "type": "websocket in",
        "z": "d82a7116b4851b52",
        "name": "WebSocket IN",
        "server": "fbfac11a65c4d030",
        "client": "",
        "x": 250,
        "y": 340,
        "wires": [
            [
                "7798f95eb8f4940f",
                "caea2205b2a6f5bc"
            ]
        ]
    },
    {
        "id": "7798f95eb8f4940f",
        "type": "debug",
        "z": "d82a7116b4851b52",
        "name": "Mensajes Recibidos",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 340,
        "wires": []
    },
    {
        "id": "93c2d4b1a5b5c582",
        "type": "http in",
        "z": "d82a7116b4851b52",
        "name": "",
        "url": "/code",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 260,
        "y": 600,
        "wires": [
            [
                "8d2b93b42db8810d",
                "0242de28b81c0674",
                "caea2205b2a6f5bc"
            ]
        ]
    },
    {
        "id": "8d2b93b42db8810d",
        "type": "debug",
        "z": "d82a7116b4851b52",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 600,
        "wires": []
    },
    {
        "id": "0242de28b81c0674",
        "type": "http response",
        "z": "d82a7116b4851b52",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 500,
        "y": 700,
        "wires": []
    },
    {
        "id": "caea2205b2a6f5bc",
        "type": "function",
        "z": "d82a7116b4851b52",
        "name": "function 2",
        "func": "// Si el payload llega como string (caso WebSocket)\nif (typeof msg.payload === \"string\") {\n    let texto = msg.payload.toLowerCase();\n\n    if (texto === \"saludar\") {\n        msg.payload = \"*saludar*\";\n        return msg;\n    }\n    if (texto === \"adelante\") {\n        msg.payload = \"*avanzar*\";\n        return msg;\n    }\n    if (texto === \"atras\") {\n        msg.payload = \"*retroceder*\";\n        return msg;\n    }\n    if (texto === \"derecha\") {\n        msg.payload = \"*doblarD*\";\n        return msg;\n    }\n    if (texto === \"izquierda\") {\n        msg.payload = \"*doblarI*\";\n        return msg;\n    }\n    if (texto === \"bailar\") {\n        msg.payload = \"*bailar*\";\n        return msg;\n    }\n    if (texto === \"aplaudir\") {\n        msg.payload = \"*aplaudir*\";\n        return msg;\n    }\n    if (texto === \"culturista\") {\n        msg.payload = \"*culturista*\";\n        return msg;\n    }\n    if (texto === \"si\") {\n        msg.payload = \"*si*\";\n        return msg;\n    }\n    if (texto === \"no\") {\n        msg.payload = \"*no*\";\n        return msg;\n    }\n    if (texto === \"levantar brazo izquierdo\") {\n        msg.payload = \"*levbrazoizq*\";\n        return msg;\n    }\n    if (texto === \"bajar brazo izquierdo\") {\n        msg.payload = \"*bajabrazoizq*\";\n        return msg;\n    }\n    if (texto === \"levantar brazo derecho\") {\n        msg.payload = \"*levbrazoder*\";\n        return msg;\n    }\n    if (texto === \"bajar brazo derecho\") {\n        msg.payload = \"*bajbrazoder*\";\n        return msg;\n    }\n}\n\nreturn null; // no matcheó nada",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 500,
        "wires": [
            [
                "cd033bd7bcfda5e1"
            ]
        ]
    },
    {
        "id": "cd033bd7bcfda5e1",
        "type": "debug",
        "z": "d82a7116b4851b52",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 500,
        "wires": []
    }
]